* {
  font-family: 'proxima-nova', sans-serif !important;
  text-rendering: optimizeLegibility;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
